
        /* TIPOS */

        /*TIEMPOS HEADLINE BLACK*/
        @font-face {
            font-family: TiemposHeadline-Black;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposHeadline-Black.woff") format("woff");
            font-weight: 900;
            font-style: normal;
            font-display: swap
        }

        /*TIEMPOS HEADLINE BOLD*/
        @font-face {
            font-family: TiemposHeadline-Bold;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposHeadline-Bold.woff") format("woff");
            font-weight: 700;
            font-style: normal;
            font-display: swap
        }

        /*TIEMPOS HEADLINE SEMIBOLD*/
        @font-face {
            font-family: TiemposHeadline-Semibold;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposHeadline-Semibold.woff") format("woff");
            font-weight: 600;
            font-style: normal;
            font-display: swap
        }

        /*TIEMPOS HEADLINE MEDIUM*/
        @font-face {
            font-family: TiemposHeadline-Medium;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposHeadline-Medium.woff") format("woff");
            font-weight: 500;
            font-style: normal;
            font-display: swap
        }

        /*TIEMPOS HEADLINE REGULAR*/
        @font-face {
            font-family: TiemposHeadline-Regular;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposHeadline-Regular.woff") format("woff");
            font-weight: 400;
            font-style: normal;
            font-display: swap
        }

        /*TIEMPOS HEADLINE LIGHT*/
        @font-face {
            font-family: TiemposHeadline-Light;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposHeadline-Light.woff") format("woff");
            font-weight: 100;
            font-style: normal;
            font-display: swap
        }

        /*TIEMPOS TEXT BOLD*/
        @font-face {
            font-family: TiemposText-Bold;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposText-Bold.woff") format("woff");
            font-weight: 700;
            font-style: normal;
            font-display: swap
        }

        /*TIEMPOS TEXT SEMIBOLD*/
        @font-face {
            font-family: TiemposText-Semibold;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposText-Semibold.woff") format("woff");
            font-weight: 600;
            font-style: normal;
            font-display: swap
        }

        /*TIEMPOS TEXT MEDIUM*/
        @font-face {
            font-family: TiemposText-Medium;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposText-Medium.woff") format("woff");
            font-weight: 600;
            font-style: normal;
            font-display: swap
        }

        /*TIEMPOS TEXT REGULAR*/
        @font-face {
            font-family: TiemposText-Regular;
            src: url("https://lavanguardia-github.github.io/tipos/TiemposText-Regular.woff") format("woff");
            font-weight: 400;
            font-style: normal;
            font-display: swap
        }

        /*ROBOTO CONDENSED*/
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

        /*ROBOTO*/
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        body {
            font-family: "TiemposText-Regular", sans-serif;
            letter-spacing: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-rendering: geometricPrecision;
            -webkit-tap-highlight-color: transparent;
            outline: 0 !important;
            letter-spacing: -.1px;
            word-wrap: break-word;
            margin: 0;
            padding: 0;
            overflow-y: 0;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        body::scrollbar {
            display: none;
        }

        a,
        a:hover,
        a:visited {
            color: #0071bc;
        }

        #map {
            top: 0;
            height: 100vh;
            width: 100vw;
            position: fixed;
        }

        #header {
            margin: auto;
            width: 100%;
            position: relative;
            z-index: 5;
        }

        #header h1,
        #header h2,
        #header p {
            margin: 0;
            padding: 2vh 2vw;
            text-align: center;
        }

        #footer {
            width: 100%;
            min-height: 5vh;
            padding-top: 2vh;
            padding-bottom: 2vh;
            line-height: 27px;
            font-size: 18px;
            position: relative;
            z-index: 5;
            background-color: rgb(1, 19,59);
            text-align: justify;
            color: white;
            padding-right: 50px;
            padding-left: 50px;

            
        }

        #features {
            padding-top: 10vh;
            padding-bottom: 10vh;
        }



        .hidden {
            visibility: hidden;
        }

        .centered {
            width: 50vw;
            margin: 0 auto;
            
            
        }

        .lefty {
            width: 33vw;
            margin-left: 5vw;
        }

        .righty {
            width: 33vw;
            margin-left: 62vw;
        }

        .fully {
            width: 100%;
            margin: auto;
        }

        .light {
            background: #FFFEFE;
            opacity: 0.95;
            border: 1px solid #C0C0C0;
            box-sizing: border-box;
            padding: 10px;
            box-shadow: 0px 4px 4px rgba(151, 151, 151, 0.25);
        }

        .dark {
            color: #fafafa;
            background-color: #444;
        }

        .step {
            padding-bottom: 50vh;
            /* margin-bottom: 10vh; */
            opacity: 0.9;
        }

        .step.active {
            opacity: 0.9;
        }

        .step div {
            padding: 25px 50px;
            line-height: 25px;
            font-size: 18px;
            line-height: 27px;
        }

        .step img {
            width: 100%;
        }

        #intro {
            width: 100%;
            background-color: #fafafa;
            position: absolute;
            z-index: 1;
            pointer-events: none;
            background: linear-gradient(rgba(0, 0, 0, 0.45) 60%, rgba(0, 0, 0, 0));
            height: 100%;
            text-align: center;
            align-items: center;



        }

        

        #autor::after {
            filter: drop-shadow(0 0.1rem 0.1rem rgba(255, 255, 255, 0.5));
            content: "";
            position: absolute;
            bottom: 150px;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            border-left: 5px solid #fff;
            border-bottom: 5px solid #fff;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: flechabajo 2.0s infinite;
            animation: flechabajo 2.0s infinite;
            box-sizing: border-box;
        }

        @-webkit-keyframes flechabajo {
            0% {
                -webkit-transform: rotate(-45deg) translate(0, 0);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: rotate(-45deg) translate(-10px, 10px);
                opacity: 0;
            }
        }

        @keyframes flechabajo {
            0% {
                transform: rotate(-45deg) translate(0, 0);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: rotate(-45deg) translate(-10px, 10px);
                opacity: 0;
            }
        }

        #intro h1 {
            width: 50vw;
            text-align: center;
            margin: auto;
            font-family: TiemposText-Black;
            font-weight: 700;
            color: rgb(255, 255, 255);
            margin-top: 10vw;
            font-size: 3em;
            margin-bottom: 4vh;
        }

        #intro h3 {
            margin: auto;
            margin-top: 15vh;
            font-family: TiemposHeadline-Bold;
            color: rgb(255, 255, 255)
        }

        #intro p {
            text-align: center;
            margin: auto;
            margin-top: 4vh;
            color: white;

        }

        #intro h2 {
            text-align: center;
            margin: auto;
            font-size: 1.5em;
            font-family: TiemposText-Medium;
            color: rgb(174, 174, 174);
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px solid #d1d1d1;
            border-bottom: 1px solid #d1d1d1;
            width: 70vw;



        }

        #intro img {
            width: 5vw;
            opacity: 0.8;
            transform: rotate(90deg);
            margin: auto;
            margin-top: 10vh;

        }
        .mapboxgl-ctrl-minimap,  .mapboxgl-mapt {
            z-index: 1;
            margin: 0 auto;
            width: 350px;
            position: relative;
            border: 1px solid hsla(0, 0%, 5%, 0.5);
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(151, 151, 151, 0.25) !important ;    
            border-radius: 100em !important;
            font-size: 0.9em !important;
            font-family: 'Open Sans', sans-serif !important;
        
        }


        




        @media (max-width: 450px) {
            #intro {
                width: 100%;
                position: absolute;
                z-index: 1;
                background: linear-gradient(rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0.664));
                height: 100%;
                text-align: center;
                align-items: center;
            



            }

            #intro h1 {
                width: 90vw;
                text-align: center;
                margin: auto;
                font-family: TiemposText-Medium;
                color: rgb(53, 53, 53);
                margin-top: 5vh;
                font-size: 2em;
                margin-bottom: 4vh;
            
            }

            #intro h3 {
                margin: auto;
                margin-top: 3vh;
                font-size: 1.1em;
                font-family: TiemposHeadline-Bold;
                color: rgba(64, 117, 171)
            }

            #intro p {
                text-align: center;
                margin: auto;
                margin-top: 4vh;
                font-family: TiemposText-Medium;


            }

            #intro h2 {
                text-align: center;
                margin: auto;
                font-size: 1.5em;
                font-family: TiemposText-Medium;
                color: rgb(174, 174, 174);
                padding-top: 10px;
                padding-bottom: 10px;
                border-top: 1px solid #d1d1d1;
                border-bottom: 1px solid #d1d1d1;
                width: 70vw;



            }

            #intro img {
                width: 15vw;
                opacity: 0.8;
                transform: rotate(90deg);
                 margin: auto;
                margin-top: 15vh;
                position: absolute;
                bottom: 0;

            }

        }

 

        @media (max-width: 750px) {

            .centered,
            .lefty,
            .righty,
            .fully {
                width: 90vw;
                margin: 0 auto;
            }
        }

        /* Fix issue on mobile browser where scroll breaks  */
        .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
        .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
            touch-action: unset;
        }