

html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.45;
  padding: 0 !important;
  margin: 0 !important;

}

.calculator {
  font-size: 30px;
  padding: 0 !important;
  margin: 0 !important;
}

.pollution {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
      height: 250px ;

}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  outline: none;
      border-bottom: none;
    border-left-style: none;
    border-top-style: none;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
    border-radius: 0;
}

.center2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  text-align: center;
  font-weight: 700;
  margin-top: 5px;
}

input {
  font: 150 24px 'Roboto Condensed', sans-serif;
  border: 0;
  outline: none;
  color: white;
  font-weight: 300;
  background-color: #001c4c;
  min-width: 150px;
  text-align: center;

}

select {
  font: 150 24px 'Roboto Condensed', sans-serif;
  border: 0;
  outline: none;
  color: white;
  font-weight: 300;
  background-color: #001c4c;
  min-width: 150px;
}

.salary-initial {
  position: relative;

}


input {
  font: 150 24px 'Roboto Condensed', sans-serif;
  outline: none;
  color: white;
  font-weight: 300;
  background-color: #001c4c;
    border-color: none;
    border-bottom: none;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
    border-radius: 0;
    text-align: center;

}

select option {
  font-weight: 200;
}

#salary-calculated {
  border-bottom: solid 10px #ee5757;
}

.data {
  background: #222;
  color: white;
  padding: 100px 40px;
}



@media (max-width: 299px) {
  .pollution {
    height: 400px ;
  }
}

